name: DesktopGL

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore ./cocos2d-mono.DesktopGL/cocos2d-mono.DesktopGL.sln
      - name: Build
        run: dotnet build ./cocos2d-mono.DesktopGL/cocos2d-mono.DesktopGL.sln --no-restore --os linux
      - name: Test
        run: dotnet test ./cocos2d-mono.DesktopGL/cocos2d-mono.DesktopGL.sln --no-build --verbosity normal
